*{
    box-sizing: border-box;
    font-size: 15px;
}



.hero-section {
    position: relative !important;
    height: 90vh;
    /* background: #20274c; */
    background: url('../images/header-bg.jpg') no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 100%;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text h1 {
    font-size: 4rem !important;
}

.hero-text p {
    font-size: 2rem;
    text-align: center;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

/* starts Floating Cards css*/
.floating-cards {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 50px;
}

.feature-card {
    width: 220px;
    background: #d2dde6;
    color: #20274c;
    text-align: center;
    padding: 10px;
    /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); */
    border-radius: 8px;
}

/* stars hero section css*/
.text-center {
    text-align: center;
}

.fs-1 {
    font-size: 2rem;
}

.text-primary {
    color: #20274c;
}

.py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

a.text-primary {
    font-size: 1.2rem;
    color: #20274c;
    text-decoration: none;
}

a.text-primary:hover {
    text-decoration: underline;
}

/* brand carouse Images css*/
.image-row {
    display: flex;
    gap: 50px;
    animation: scrollRightToLeft 15s linear infinite;
    width: 100%;
    flex-wrap: nowrap; 
}

.image-item {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden ;

}


/* css for featured branding carousel */
.image-item-featured {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

}

.image-row-featured {
    display: flex;
    gap: 15px;
    animation: scrollRightToLeft 15s linear infinite;
    overflow: hidden !important;
    width: 100%;
    flex-wrap: nowrap;
}


@keyframes scrollRightToLeft {
    0% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(-8%);
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero-content {
        flex-direction: column;
        text-align: center;

    }

    .hero-image {
        margin-top: 20px;
    }

    .floating-cards {
        flex-direction: column;
        top: 95%;
    }

    .feature-card {
        width: 100%;
        box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.1);

    }

    .top-adjst {
        margin-top: 140% !important;
    }


    /* starts why choose us ? section */
    .border-end {
        border-bottom: 5px solid #20274c;
        border-right: none !important;
    }

    .mrgin-mob {
        margin-top: 30px;
    }

    .featured-brand-logo {
        flex-wrap: wrap !important;
    }

    .image-row-featured {
        display: block;
        gap: 15px;
        /* animation: none; */
        display: flex;
        overflow: hidden !important;
    }

    .image-item-featured {
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    .py-4 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .text-primary {
        font-size: 1.5rem !important;
    }

    .py-3 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .btn {
        width: 100%;
    }

    .fs-1 {
        font-size: 2rem;
    }

    .featured-logo {
        padding-left: 0;
        padding-right: 0;
    }

}

.overflow-hidn{
    overflow: hidden !important; 

}

.sticky-row {
    position: sticky;
    top: 15%;
    z-index: 500; 
    /* position: relative; */
    background-color: #d2dde6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  /* strats our services Overlapping rows that should stick */
  .sticky-active {
    position: sticky;
    top: 15%;
    z-index: 300; 
    background-color: #d2dde6;
    box-shadow: 0 4px 6px rgba(211, 182, 182, 0.1);
  }
  

.featured-logo {
    overflow: hidden;
}

/* diagonal multicolor bg section starts css */
.diagonal-bg{
    background-color: #34ADFF;
    background-image: -webkit-linear-gradient(107deg, #34ADFF 50%, white 50%);
    min-height: 400px;
  }


  .multi-layer-image-row1{
    display: flex;
    gap: 20px;
    animation: scrollRightToLeft 15s linear infinite;
    width: 100%;
    overflow: hidden;
    flex-wrap: nowrap; 
}

.multi-layer-image-item1,.multi-layer-image-item2{
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden ;

}


@keyframes scrollLeftToRight {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.multi-layer-image-row2{
    display: flex;
    gap: 20px;
    animation: scrollLeftToRight 15s linear infinite;
    width: 100%;
    overflow: hidden;
    flex-wrap: nowrap; 
}

/* 
.text-bg-color{
    color: #7ebcebf0;
} */